.title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.checkOut{
    width: 240px;
    height: 300px;
}

.actions-button{
    text-align: right;
}

.taxas{
    width: 100%;
}

.checkOut-button{
    background-color: darkgray;
}