.title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.obter{
    display: flex;
    flex-direction: column;
    height: 400px;
}

.actions-button{
    text-align: right;
}