<h1 class="title">Reserva</h1>
<div mat-dialog-content class="obter">
    <mat-list>
        <div fxLayout="row" fxLayout.lt-md="column">
            <mat-list-item>
                <mat-icon matListIcon>receipt_long</mat-icon>
                <h3 matLine>Reserva</h3>
                <p matLine>{{reserva.reservaId}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>badge</mat-icon>
                <h3 matLine>CPF</h3>
                <p matLine>{{reserva.cpf | mask: '000.000.000-00'}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>person</mat-icon>
                <h3 matLine>Nome</h3>
                <p matLine>{{reserva.nomeCompleto}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>king_bed</mat-icon>
                <h3 matLine>Quarto</h3>
                <p matLine>{{reserva.quartoId}}</p>
            </mat-list-item>
        </div>
        <hr>
        <div fxLayout="row" fxLayout.lt-md="column">
            <mat-list-item>
                <mat-icon matListIcon>calendar_today</mat-icon>
                <h3 matLine>Data de Criação</h3>
                <p matLine>{{reserva.dataCriacaoReserva | date:'dd/MM/yyyy HH:mm:ss'}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>meeting_room</mat-icon>
                <h3 matLine>Data de Entrada</h3>
                <p matLine>{{reserva.dataEntrada | date:'dd/MM/yyyy'}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>door_back</mat-icon>
                <h3 matLine>Data de Saída</h3>
                <p matLine>{{reserva.dataSaida | date:'dd/MM/yyyy'}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>priority_high</mat-icon>
                <h3 matLine>Status</h3>
                <p matLine>{{reserva.statusDescricao}}</p>
            </mat-list-item>
        </div>
        <hr>
        <div  fxLayout="row" fxLayout.lt-md="column">
            <mat-list-item *ngIf="reserva.checkIn != null">
                <mat-icon matListIcon>group</mat-icon>
                <h3 matLine>Hospedes</h3>
                <p matLine *ngFor="let hospede of reserva.hospedes">{{hospede.cpf | mask: '000.000.000-00'}}</p>
            </mat-list-item>
            <mat-list-item *ngIf="reserva.checkIn != null">
                <mat-icon matListIcon>location_on</mat-icon>
                <h3 matLine>Check-In</h3>
                <p matLine>{{reserva.checkIn | date:'dd/MM/yyyy HH:mm:ss'}}</p>
            </mat-list-item>
            <mat-list-item *ngIf="reserva.checkOut != null">
                <mat-icon matListIcon>done</mat-icon>
                <h3 matLine>Check-Out</h3>
                <p matLine>{{reserva.checkOut | date:'dd/MM/yyyy HH:mm:ss'}}</p>
            </mat-list-item>
            <mat-list-item *ngIf="reserva.valorTotal != null">
                <mat-icon matListIcon>attach_money</mat-icon>
                <h3 matLine>Valor Total</h3>
                <p matLine>{{reserva.valorTotal | currency: 'BRL'}}</p>
            </mat-list-item>
        </div>
    </mat-list>
</div>

<div mat-dialog-actions class="actions-button">
    <button class="cancelar-button" mat-button mat-dialog-close>
        Sair
    </button>
</div>