table {
    width: 100%;
}

.filter-button {
    margin-left: 40px;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.button-fab {
    background-color: black;
}

.button-icon{
    background-color: black;
}
