.title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.checkIn{
    width: 240px;
    height: 300px;
}

.actions-button{
    text-align: right;
}

.checkIn-button{
    background-color: darkgray;
}

.btn-add{
    width: 20px;
    height: 25px;
    margin-left: 175px;
}

.icon-add{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-del{
    width: 20px;
    height: 25px;
    margin-left: 22px;
}

.icon-del{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: grid;
    grid-template-columns: 85% 15%;
}