<h1 class="title">Check-In</h1>
<form [formGroup]="hospedes">
    <div mat-dialog-content class="checkIn">
        <mat-form-field class="cpf" formArrayName="cpfs" *ngFor="let cpf of hospedes.get('cpfs')['controls']; let i = index;">
            <mat-label>CPF</mat-label>
            <div [formGroupName]="i" class="formulario">
                <div>
                    <input type="text" matInput mask="000.000.000-00" placeholder="Ex. 12345678901" formControlName="cpf" autocomplete="off">
                </div>
                <div>
                    <button type="button" mat-button class="btn-del"  [disabled]="cpfs.length == 1" (click)="removerCpf(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        </mat-form-field>
        <button type="button" mat-button class="btn-add" [disabled]="cpfs.length == capacidade" (click)="adicionarCpf()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</form>

<div mat-dialog-actions class="actions-button">
    <button class="cancelar-button" mat-button mat-dialog-close>
        Cancelar
    </button>
    <button class="checkIn-button" [disabled]="!hospedes.valid || cpfs.length == 0" mat-raised-button (click)="checkIn()">
        Cadastrar
    </button>
</div>