.title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.checkIn{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
}

.actions-button{
    text-align: right;
}

.checkIn-button{
    background-color: darkgray;
}

.btn-add{
    width: 50px;
    height: 50px;
    margin-left: 250px;
}

.btn-del{
    width: 50px;
    height: 50px;
}

.formulario{
    display: grid;
    grid-template-columns: 85% 15%;
}