<h1 class="title">Cadastro Cliente</h1>
<form [formGroup]="cliente">
    <div mat-dialog-content class="cadastro">
        <mat-form-field class="cpf">
            <mat-label>CPF</mat-label>
            <input type="text" mask="000.000.000-00" matInput placeholder="Ex. 12345678900" autocomplete="off" formControlName="cpf">
            <mat-error *ngIf="cliente.get('cpf').touched && cliente.get('cpf').errors">
                {{cliente.get('cpf').errors | humanizeFormMessages: 'Cpf'}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nome Completo</mat-label>
            <input type="name" matInput placeholder="Ex. Ana Silva" formControlName="nomeCompleto" autocomplete="off">
            <mat-error *ngIf="cliente.get('nomeCompleto').touched && cliente.get('nomeCompleto').errors">
                {{cliente.get('nomeCompleto').errors | humanizeFormMessages: 'Nome Completo'}}
            </mat-error>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataNascimento" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="cliente.get('dataNascimento').touched && cliente.get('dataNascimento').errors">
                {{cliente.get('dataNascimento').errors | humanizeFormMessages: 'Data de Nascimento'}}
            </mat-error>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. email@example.com" formControlName="email" autocomplete="off">
            <mat-error *ngIf="cliente.get('email').touched && cliente.get('email').errors">
                {{cliente.get('email').errors | humanizeFormMessages: 'Email'}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input type="tel" matInput mask="(00)00000-0000" placeholder="Ex. 41998765432" formControlName="telefone" autocomplete="off">
            <mat-error *ngIf="cliente.get('telefone').touched && cliente.get('telefone').errors">
                {{cliente.get('telefone').errors | humanizeFormMessages: 'Telefone'}}
            </mat-error>
        </mat-form-field>
    </div>
</form>

<div mat-dialog-actions class="actions-button">
    <button class="cancelar-button" mat-button (click)="cancelar()">
        Cancelar
    </button>
    <button class="cadastrar-button" [disabled]="!cliente.valid" mat-raised-button (click)="cadastrar()">
        Cadastrar
    </button>
</div>