.title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cliente{
    width: 240px;
    height: 300px;
}

.actions-button{
    text-align: right;
}

.mat-form-field {
    width: 100%;
}
  

.cadastrar-button{
    background-color: darkgray;
}