.title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
}

.actions-button{
    text-align: right;
}

.cadastrar-button{
    background-color: darkgray;
}